/* INÍCIO - SOBRE
============================================================================================ */
.oque-e {
    padding: 100px;
}

.add {
  margin: 100px;
}

.img-custom {
    border-radius: 20px;
}

.nav-tabs {
  border-bottom: none;
}

.nav-tabs > li {
  float: left;
  margin-bottom: -1px;
}

.nav-tabs > li > a {
  margin-right: 2px;
  line-height: 1.42857143;
  border: none;
}

.nav-tabs > li > a:hover {
  border-color: #eeeeee #eeeeee #dddddd;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: #555555;
  background-color: #ffffff;
  border: none;
  border-bottom-color: transparent;
  cursor: default;
}

b {
  color: #33b672 !important;
}

.a-infos  {
    color: #33b672;
}

.tab-content > .tab-pane {
  display: none;
}

.tab-content > .active {
  display: block;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.page-header {
  padding-bottom: 9px;
  margin: 40px 0 20px;
}

.text-justify {
  text-align: justify;
}

.media {
  margin-top: 15px;
}

.media-body {
  width: 10000px;
}

.container-stories {
padding-top: 50px;
padding-bottom: 50px;
}

/* FIM - SOBRE
============================================================================================ */

/* INÍCIO - HEADER
============================================================================================ */

.a-infos:focus {
    color: #33b672;
}

.a-header {
    color: #FFFFFF;
}

.nav-custom {
  margin-top: 25px !important;
}

.custom-title {
    line-height: 10px;
    margin-bottom: 10px;
    color: #ecf0f1;
    margin-left: 20px;
}

.custom-subtitle {
    color: #ecf0f1;
    margin-left: 22px;
    margin-top: 0px;
}

.custom-navbar {
    background-color: #33b672;
    border-color: #33b672;
}

.custom-text-primary {
    color: #27ae60;
}

.text-center {
    text-align: center;
  }


  .container-about {
	padding-top: 50px;
	padding-bottom: 50px;
}

.page-header {
  padding-bottom: 9px;
  margin: 40px 0 20px;
}

  /* FIM - HEADER
============================================================================================ */

/* INÍCIO - CONTATO
============================================================================================ */
.mapBox {
  height: 420px;
  margin-bottom: 80px;
}

.contact_info .info_item {
  position: relative;
  padding-left: 45px;
}

.contact_info .info_item i {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 20px;
  line-height: 24px;
  color: #33b672;
  font-weight: 600;
}

.contact_info .info_item h6 {
  font-size: 16px;
  line-height: 24px;
  color: "Roboto", sans-serif;
  font-weight: bold;
  margin-bottom: 0px;
  color: #222222;
}

.contact_info .info_item h6 a {
  color: #222222;
}

.contact_info .info_item p {
  font-size: 14px;
  line-height: 24px;
  padding: 2px 0px;
}

.contact_form .form-group {
  margin-bottom: 10px;
}

.contact_form .form-group .form-control {
  font-size: 13px;
  line-height: 26px;
  color: #999;
  border: 1px solid #eeeeee;
  font-family: "Roboto", sans-serif;
  border-radius: 0px;
  padding-left: 20px;
}

.contact_form .form-group .form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
}

.contact_form .form-group .form-control.placeholder {
  color: #999;
}

.contact_form .form-group .form-control:-moz-placeholder {
  color: #999;
}

.contact_form .form-group .form-control::-moz-placeholder {
  color: #999;
}

.contact_form .form-group .form-control::-webkit-input-placeholder {
  color: #999;
}

.contact_form .form-group textarea {
  resize: none;
}

.contact_form .form-group textarea.form-control {
  height: 140px;
}

.contact_form .submit_btn {
  margin-top: 20px;
  cursor: pointer;
}


/* INÍCIO CASO DE ERRO CSS - CONTATO
============================================================================================ */
.modal-message .modal-dialog {
  position: absolute;
  top: 36%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%) !important;
  -ms-transform: translateX(-50%) translateY(-50%) !important;
  transform: translateX(-50%) translateY(-50%) !important;
  margin: 0px;
  max-width: 500px;
  width: 100%;
}

.modal-message .modal-dialog .modal-content .modal-header {
  text-align: center;
  display: block;
  border-bottom: none;
  padding-top: 50px;
  padding-bottom: 50px;
}

.modal-message .modal-dialog .modal-content .modal-header .close {
  position: absolute;
  right: -15px;
  top: -15px;
  padding: 0px;
  color: #fff;
  opacity: 1;
  cursor: pointer;
}

.modal-message .modal-dialog .modal-content .modal-header h2 {
  display: block;
  text-align: center;
  color: #33b672;
  padding-bottom: 10px;
  font-family: "Roboto", sans-serif;
}

.modal-message .modal-dialog .modal-content .modal-header p {
  display: block;
}

/* FIM CASO DE ERRO CSS - CONTATO
============================================================================================ */

  
	/* INÍCIO FOOTER
	============================================================================================ */
	.footer-area .col-sm-6{
		margin-bottom: 30px;
	}
	/* FIM FOOTER
  ============================================================================================ */
  
  /* INÍCIO EX-ALUNOS
	============================================================================================ */
	.home_banner_area {
		background-size: cover;
		margin-bottom: 0px;
	}
	.testimonials_inner .testi_left_text {
		margin-top: 0px;
		margin-bottom: 50px;
	}
	.team_inner{
		margin-bottom: -30px;
	}
	.team_item{
		max-width: 263px;
		margin: 0px auto 30px;
	}
	.services_item{
		max-width: 360px;
		margin: 0px auto 30px;
	}
	.builder_inner .builder_item {
		flex: 0 0 50%;
		max-width: 50%;
	}
	.counter_inner .counter_item {
		flex: 0 0 33.33%;
		max-width: 33.33%;
		margin-bottom: 30px;
	}
	.counter_inner{
		margin-bottom: -30px !important;
		overflow: hidden;
	}
	.testi_item .media {
		padding: 20px 8px;
	}
	.about_inner .ab_left_text {
		margin-top: 0px;
		padding-right: 0px;
		margin-bottom: 30px;
  }

    	/* FIM EX-ALUNOS
  ============================================================================================ */
  
  	/* INÍCIO DEPOIMENTOS
  ============================================================================================ */

.testimonials_area {
  background: #f9f9ff;
  position: relative;
}

.testimonials_area .owl-prev, .testimonials_area .owl-next {
  position: absolute;
  right: 150px;
  background: #fff;
  font-size: 24px;
  color: #c1c1c1;
  padding-left: 10px;
  padding-right: 10px;
  -webkit-transition: all 300ms linear 0s;
  -o-transition: all 300ms linear 0s;
  transition: all 300ms linear 0s;
  cursor: pointer;
  -webkit-box-shadow: -14.142px 14.142px 20px 0px rgba(157, 157, 157, 0.2);
  box-shadow: -14.142px 14.142px 20px 0px rgba(157, 157, 157, 0.2);
}

.testimonials_area .owl-prev:hover, .testimonials_area .owl-next:hover {
  color: #222222;
}

.testimonials_area .owl-prev {
  bottom: 50%;
  padding-top: 15px;
  padding-bottom: 10px;
}

.testimonials_area .owl-prev:before {
  content: "";
  width: 28px;
  background: #e8e8e8;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: 0px;
  height: 1px;
}

.testimonials_area .owl-next {
  top: 50%;
  padding-top: 10px;
  padding-bottom: 15px;
}

.testi_slider {
  margin-top: -30px;
  margin-bottom: -30px;
}

.testi_item {
  padding: 30px 0px;
}

.testi_item .media {
  border: 1px solid #eeeeee;
  border-radius: 10px;
  padding: 40px;
  -webkit-transition: all 300ms linear 0s;
  -o-transition: all 300ms linear 0s;
  transition: all 300ms linear 0s;
}

.testi_item .media .d-flex {
  padding-right: 25px;
}

.testi_item .media .media-body p {
  margin-bottom: 20px;
}

.testi_item .media .media-body h4 {
  color: #222222;
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 20px;
  -webkit-transition: all 300ms linear 0s;
  -o-transition: all 300ms linear 0s;
  transition: all 300ms linear 0s;
}

.testi_item .media .media-body h5 {
  margin-bottom: 0px;
  font-size: 14px;
  color: #777777;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
}

.testi_item:hover .media {
  -webkit-box-shadow: 0px 10px 30px 0px rgba(157, 157, 157, 0.2);
  box-shadow: 0px 10px 30px 0px rgba(157, 157, 157, 0.2);
  background: #fff;
  border-color: #fff;
}

.testi_item:hover .media .media-body h4 {
  color: #33b672;
}

.team_item{
  max-width: 263px;
  margin: 0px auto 30px;
}

.team_item .team_img {
position: relative;
}

.team_item .team_img:before {
content: "";
background: rgba(51,182,114, 0.85);
position: absolute;
left: 0px;
top: 0px;
height: 100%;
width: 100%;
opacity: 0;
-webkit-transition: all 300ms ease;
-o-transition: all 300ms ease;
transition: all 300ms ease;
}

.team_item .team_img .hover {
position: absolute;
left: 0px;
width: 100%;
top: 50%;
-webkit-transform: translateY(-50%);
-ms-transform: translateY(-50%);
transform: translateY(-50%);
text-align: center;
opacity: 0;
-webkit-transition: all 300ms linear 0s;
-o-transition: all 300ms linear 0s;
transition: all 300ms linear 0s;
}

.team_item .team_img .hover a {
font-size: 14px;
color: #FFFFFF;
margin-right: 20px;
opacity: .3;
}

.team_item .team_img .hover a:last-child {
margin-right: 0px;
}

.team_item .team_img .hover a:hover {
opacity: 1;
}

.team_item .team_name {
text-align: center;
margin-top: 30px;
}

.team_item .team_name h4 {
margin-bottom: 5px;
color: #222222;
font-family: "Oswald", sans-serif;
font-weight: 500;
font-size: 18px;
}

.team_item .team_name p {
font-size: 14px;
font-family: "Roboto", sans-serif;
color: #777777;
margin-bottom: 0px;
}

.team_item:hover .team_img:before {
opacity: 1;
}

.team_item:hover .team_img .hover {
opacity: 1;
}

/** * Owl Carousel v2.2.1
 * Copyright 2013-2017 David Deutsch
 * Licensed under  ()
 */

  .owl-carousel,.owl-carousel .owl-item {
   -webkit-tap-highlight-color:transparent;
   position:relative
  }
  
  .owl-carousel {
    display:none;
    width:100%;
    z-index:1
  }

  .owl-carousel .owl-stage:after {
    content:".";
    display:block;
    clear:both;
    visibility:hidden;
    line-height:0;
    height:0
  }
  
  .owl-carousel .owl-stage-outer {
    position:relative;
    overflow:hidden;
    -webkit-transform:translate3d(0,0,0)
  }
  
  .owl-carousel .owl-item,.owl-carousel .owl-wrapper {
    -webkit-backface-visibility:hidden;
    -moz-backface-visibility:hidden;
    -ms-backface-visibility:hidden;
    -webkit-transform:translate3d(0,0,0);
    -moz-transform:translate3d(0,0,0);
    -ms-transform:translate3d(0,0,0)
  }
  
  .owl-carousel .owl-item {
    min-height:1px;
    float:left;
    -webkit-backface-visibility:hidden;
    -webkit-touch-callout:none
  }

  .owl-carousel .owl-item img {
    display:block;
    width:100%
  }

  .owl-carousel .owl-dots.disabled,.owl-carousel .owl-nav.disabled {
    display:none
  }
  
  .no-js .owl-carousel,.owl-carousel.owl-loaded {
    display:block
  }
  
  .owl-carousel .owl-dot,.owl-carousel .owl-nav .owl-next,.owl-carousel .owl-nav .owl-prev {
    cursor:pointer;
    cursor:hand;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;user-select:none
  }
  
  .owl-carousel.owl-loading {
    opacity:0;
    display:block
  }
  
  .owl-carousel.owl-hidden {
    opacity:0
  }
    
  .owl-carousel.owl-refresh .owl-item {
      visibility:hidden
    }
      
  
  
    .owl-carousel.owl-drag .owl-item {
      -webkit-user-select:none;
      -moz-user-select:none;
      -ms-user-select:none;
      user-select:none
    }

    .owl-carousel.owl-grab {
      cursor:move;
      cursor:grab
    }
    
    .owl-carousel.owl-rtl {
      direction:rtl
    }

    .owl-carousel.owl-rtl .owl-item {
      float:right
    }
    
    .owl-carousel .animated {
      animation-duration:1s;
      animation-fill-mode:both
    }
    
    .owl-carousel .owl-animated-in {
      z-index:0
    }
    
    .owl-carousel .owl-animated-out {
      z-index:1
    }
    
    .owl-carousel .fadeOut {
      animation-name:fadeOut
    }
    @keyframes fadeOut {
      0%{
        opacity:1
        }100%{opacity:0}
    }
    
    .owl-height {
      transition:height .5s ease-in-out
    }
    
    .owl-carousel .owl-item .owl-lazy {
      opacity:0;
      transition:opacity .4s ease
    }

    .owl-carousel .owl-item img.owl-lazy {
      transform-style:preserve-3d
    
    }
    
    .owl-carousel .owl-video-wrapper { 
      position:relative;
      height:100%;
      background:#000
    }
    
    .owl-carousel .owl-video-play-icon {
      position:absolute;
      height:80px;
      width:80px;
      left:50%;
      top:50%;
      margin-left:-40px;
      margin-top:-40px;
      background:url(owl.video.play.png)
      no-repeat;cursor:pointer;z-index:1;
      -webkit-backface-visibility:hidden;
      transition:transform .1s ease
    }
    
    .owl-carousel .owl-video-play-icon:hover {
      -ms-transform:scale(1.3,1.3);transform:scale(1.3,1.3)
    }
    
    .owl-carousel .owl-video-playing .owl-video-play-icon,.owl-carousel .owl-video-playing .owl-video-tn{ 
      display:none
    }
    
    .owl-carousel .owl-video-tn {
      opacity:0;
      height:100%;
      background-position:center center;
      background-repeat:no-repeat;
      background-size:contain;
      transition:opacity .4s ease
    }

    .owl-carousel .owl-video-frame {
      position:relative;
      z-index:1;
      height:100%;
      width:100%
    }

 	/* FIM DEPOIMENTOS
  ============================================================================================ */

   	/* INÍCIO LOGIN & REGISTRAR
  ============================================================================================ */
  .container-login {
    margin: 100px;
  }

  .custom-label {
    float: left;
  }

  .form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 100px auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }

.form-create {
  padding: 40px !important;
}

   	/* FIM LOGIN & REGISTRAR
  ============================================================================================ */