body {
    padding-top: 70px;
}

@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    font-size: 15px;
}

.pagination li.active {
    background-color: white;
    color: black;
    border: 1px solid #4c66af;
}

.titulo {
    font-style: italic;
    color: gray;
    font-weight: bold;
}
.form-group {
    margin: 5px;
}
#btn-filter {
    margin: 5px;
}

#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}


/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }

    /* breadcrumb */


    .breadcrumb-right-arrow .breadcrumb-item+.breadcrumb-item::before {
        content: "›";
        vertical-align:top;
        font-size:40px;
        line-height:15px;
    }

    .breadcrumb-right-tag .breadcrumb-item  {color:#fff;}

    .breadcrumb a{
        color: black;
    }
    .breadcrumb-item.active{
        color: black;
        font-weight: bold;
    }
}